# Credenciais do Servidor via SSH
SSH_USER=insira_seu_usuario_ssh_aqui
SSH_PASS=insira_sua_senha_ssh_aqui

# Lista de Servidores Access Gateway (Staging e Testing)
SERVERS_JSON='[{"ip": "IP_AQUI", "name": "NOME_DO_SERVIDOR"}]'
