# Configurações do Microsoft Teams
TEAMS_WEBHOOK_URL=insira_aqui_a_url_do_seu_webhook_do_teams

# Credenciais do Portal Web IRIS
USUARIO_WEB=insira_seu_usuario_web_aqui
SENHA_WEB=insira_sua_senha_web_aqui

# Credenciais do Servidor via SSH
SSH_USER=insira_seu_usuario_ssh_aqui
SSH_PASS=insira_sua_senha_ssh_aqui

# Lista de Sistemas IRIS (Staging e Desenvolvimento)
# Insira no formato JSON contendo nome, url e ip de cada sistema
SISTEMAS_JSON='[{"nome": "NOME STG", "url": "http://IP/caminho/UtilHome.csp", "ip": "IP"}]'
